@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(Backroung.webp);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

/*Nav Bar*/

.navbar {
    height: 13vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

.navbar div {
    height: 10vh;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .n1 {
    justify-content: flex-start;
    margin-left: 60px;
}

.navbar .n2 {
    justify-content: space-evenly;
    width: 60%;
    transition: 1s;

    a {
        padding: 0px 25px;
        text-decoration: none;
        color: rgb(65, 53, 53);
        font-weight: 600;
        font-size: 20px;
        transition: 1s;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
}

.navbar .n3 {
    justify-content: flex-end;
    margin-right: 60px;


    button {
        margin-top: 5px;
        padding: 15px 30px;
        color: white;
        background-color: black;
        border-radius: 40px;
        font-weight: 600;
        border-color: transparent;
        position: relative;
        cursor: pointer;
        z-index: 1;
        overflow: hidden;

        i {
            font-size: 15px;
            margin-right: 5px;
        }


    }

    button::before {
        content: 'Order now';
        margin: 1px 11px;
        position: absolute;
        color: red;
        text-align: center;
        height: 0%;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: 1s;

    }

    button:hover {
        transition: 1s;
        background-color: skyblue;


        i {
            color: black;
            transition: 1s;
        }
    }

    button:hover::before {
        z-index: 2;
        height: 65%;
    }
}

.navbar .n3 .n31 {
    display: inline-block;
    display: none;
    margin-right: 0px;
}

@media(max-width: 1184px) {
    .navbar {
        .n2 a {
            font-size: 18px;
            padding: 0px 15px;
        }

        .n3 {
            margin-right: 50px;
        }
    }

}

@media(max-width: 1008px) {
    .navbar {

        height: 60px;
        margin-top: 20px;

        .n1 {
            width: 50%;
        }

        .n2 {
            display: none;
        }

        .n3 {
            width: 50%;

            .n31 {
                display: block;
                margin-top: 108px;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 60px;
        margin-top: 20px;

        .n3 {

            .n31 {
                margin-top: 35px;
            }
        }
    }

    .navbar div {
        height: 60px;
    }
}

@media (width<=650px) {
    .navbar {
        .n3 {
            button {
                display: none;
            }
        }
    }
}

@media(max-width: 575px) {
    .navbar {

        .n1 {
            width: 100%;
            margin-left: 0px;
            display: flex;
            justify-content: center;
        }

        .n3 {
            display: none;

        }

    }
}

/*Main COntent*/
.con1 {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.con1 .m1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20vw;
    background: linear-gradient(0deg, rgb(255, 0, 123) 15%, rgb(164, 25, 190) 65%, rgb(123, 22, 218) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    z-index: 2;
}

.con1 img {
    width: 40%;
    height: auto;
    animation: headphone 5s ease-in-out infinite;
    object-fit: contain;
    z-index: 2;
}

@keyframes headphone {
    0% {
        transform: translateX(40px);
    }

    30% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateX(-40px);
    }

    70% {
        transform: translateY(40px);
    }

    100% {
        transform: translateX(40px);
    }
}

@media (max-width: 992px) {
    .con1 {
        height: 700px;
    }

    .con1 .m1 {
        font-size: 18vw;
    }

    .con1 img {
        width: 55%;
    }
}

/* Medium Screens - up to 880px */
@media (max-width: 880px) {
    .con1 {
        height: 600px;
    }

    .con1 .m1 {
        font-size: 19vw;
    }

    .con1 img {
        width: 55%;
    }
}

/* Tablets - up to 768px */
@media (max-width: 768px) {
    .con1 {
        height: 400px;
    }

    .con1 .m1 {
        font-size: 20vw;
    }

    .con1 img {
        width: 60%;
    }
}

/* Mobile - up to 414px */
@media (max-width: 414px) {
    .con1 {
        height: 420px;
    }

    .con1 .m1 {
        font-size: 22vw;
    }

    .con1 img {
        width: 85%;
    }
}

/* Very Small Devices - up to 310px */
@media (max-width: 310px) {
    .con1 {
        height: 330px;
    }

    .con1 .m1 {
        font-size: 25vw;
    }

    .con1 img {
        width: 100%;
    }
}


.con2 {
    height: 80px;
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: -100px;
    flex-wrap: wrap;
}

.con2 div {
    display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
    text-align: center;
    justify-content: space-evenly;
}

.con2 .p1 {
    :first-child {
        font-size: 20px;
        color: grey;
    }

    :last-child {
        font-size: 25px;
        font-weight: 500;
    }
}

.con2 .p3 {
    :first-child {
        font-size: 20px;
        color: grey;
    }

    :last-child {
        font-size: 25px;
        font-weight: 500;
    }
}

.con21 .p2 {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin-top: 80px;
        padding-top: clamp(15px, 2vw, 25px);
        padding-bottom: clamp(15px, 2vw, 25px);
        padding-left: clamp(20px, 3vw, 50px);
        padding-right: clamp(20px, 3vw, 50px);
        background-color: rgba(237, 229, 229, 0.37);
        border-color: transparent;
        font-size: clamp(12px, 2vw, 20px);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        border-radius: 50px;

        i {
            font-size: clamp(12px, 2vw, 20px);
            color: purple;

        }
    }

    button:hover {
        color: white;
        background-color: black;

    }

}

.con3 {
    height: auto;
    width: 100%;
    /*border: 1px solid;*/
    text-align: center;
    margin-top: 100px;

    p {
        margin-top: 30px;
    }

    .star {
        display: inline-block;
        background-color: orange;
        padding: 10px 15px;
        border-radius: 30px;

        i {
            color: white;
        }

    }

    .c1 {
        display: inline-block;
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        position: relative;
    }

    .amz {
        display: inline-block;
        font-weight: 500;
        font-size: 25px;
        font-family: "Roboto", sans-serif;
    }

}

.con4 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    gap: 2rem;
}

/* Image container */
.con4 .c1 {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

.con4 .c1 img {
    width: 100%;
    margin-left: -100px;
    height: auto;
    object-fit: contain;
}

/* Content container */
.con4 .c2 {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.con4 .c2 .icon {
    font-size: clamp(2rem, 5vw, 4rem);
    color: grey;
}

.con4 .c2 .h1,
.con4 .c2 .h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.88);
    font-size: clamp(1.5rem, 5vw, 4rem);
    margin: 0;
}

.con4 .c2 .n1,
.con4 .c2 .n2,
.con4 .c2 .n3 {
    font-family: "Roboto", sans-serif;
    color: grey;
    text-align: left;
    font-size: clamp(0.9rem, 2.2vw, 1.1rem);
    margin: 0;
}

.con4 .c2 button {
    padding: clamp(0.8rem, 2vw, 1.2rem) clamp(1.5rem, 4vw, 2.5rem);
    font-family: "Roboto", sans-serif;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.con4 .c2 button:hover {
    background-color: #333;
}

/* Responsive layout */
@media (max-width: 900px) {
    .con4 {
        flex-direction: column;
        text-align: center;
    }

    .con4 .c2 {
        align-items: center;
    }

    .con4 .c2 .n1,
    .con4 .c2 .n2,
    .con4 .c2 .n3 {
        text-align: center;
    }
}

@media (width<=545px) {
    .con4 .c1 {
        flex: 1 1;
    }

    .con4 .c2 {
        flex: 1 1;
    }
}

@media (width<=400px) {
    .con4 .c1 {
        height: 0px;
        flex: 1 1;
    }

    .con4 .c2 {
        flex: 1 1;
    }
}

.con5 {
    margin-top: 100px;
    height: auto;
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.con5 div {
    height: auto;
    max-width: 35%;
    /*border: 1px solid;*/
    display: flex;
    flex-wrap: wrap;
}

.con5 .c1,
.con5 .c2,
.con5 .c3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .num {
        height: 30px;
        border: 1px solid;
        padding: 30px 30px;
        background-color: white;
        border-radius: 50%;
        border-color: transparent;
        transition: 0.5s;
    }

    p {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
    }
}

.c1:hover,
.c2:hover,
.c3:hover {

    .num {
        background-color: black;
        color: white;
    }

    b {
        color: rgba(8, 0, 255, 0.918);
    }

}


.con11 {
    margin-top: 60px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    .c11 {
        font-size: clamp(5.5rem, 12vw, 12rem);
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, rgb(216, 29, 166) 0%, rgb(34, 7, 185));
        color: transparent;
        background-clip: text;
    }

    .c12 {
        font-size: clamp(1.5rem, 4vw, 6rem);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.732);
        align-self: center;
    }
}

.con13 {
    margin-top: 80px;
    height: auto;
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.con13 div {
    max-width: 35%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.con13 .c31,
.c32,
.c33 {

    gap: 20px;

    :first-child {
        font-size: 9vh;

    }

    :nth-child(2) {
        font-size: clamp(0.8rem, 2vw, 2rem);
    }

    :last-child {
        font-size: clamp(1.8vh, 2vw, 2.2vh);
        text-align: center;
        color: rgb(104, 102, 102);
    }
}


.con13:hover {
    i {
        background: linear-gradient(to right, rgb(216, 29, 166) 0%, rgb(34, 7, 185));
        color: transparent;
        background-clip: text;
        transition: 1s;
    }

}

.con14 {
    margin-top: 80px;
    height: auto;
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.con14 div {
    max-width: 35%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.con14 .c41,
.c42,
.c43 {

    gap: 20px;

    :first-child {
        font-size: 9vh;

    }

    :nth-child(2) {
        font-size: clamp(0.8rem, 2vw, 2rem);

    }

    :last-child {
        font-size: clamp(1.8vh, 2vw, 2.2vh);
        text-align: center;
        color: rgb(104, 102, 102);
    }
}

.con14:hover {
    i {
        background: linear-gradient(to right, rgb(216, 29, 166) 0%, rgb(34, 7, 185));
        color: transparent;
        background-clip: text;
        transition: 1s;
    }

}

.con15 {
    height: 800px;
    width: auto;
    border: 1px solid;
    background-image: url(back3.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 40px;
    overflow: hidden;

    img {
        height: 200px;
        border-radius: 50%;
        animation: back30 5s infinite;
        margin-bottom: 80px;
    }
}

@keyframes back30 {
    0% {
        transform: translate(50px);
    }

    100% {
        transform: translate(-160px);
    }
}

.con6 {
    margin-top: 80px;
    height: auto;
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .c1 {
        background-color: rgba(0, 128, 0, 0.778);
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        font-weight: 500;
        font-size: 13px;

    }

    .c2 {
        font-size: clamp(16px, 2vw + 0.5rem, 22px);
        font-family: "Roboto", sans-serif;
    }
}

.con7 {
    height: 200px;
    width: 100%;
    /*border: 1px solid;*/
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    marquee {
        margin-top: 35px;
    }

    p {
        display: inline;
    }
}

.o1 {
    color: grey;
}

@media (max-width: 435px) {
    .con7 {
        font-size: 50px;
    }
}

.con8 {
    height: 400px;
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.con8 div {
    height: 400px;
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-size: 20px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
    }
}

.i1:hover {
    p {
        background-color: silver;
        padding: 5px 5px;
        border-radius: 25px;
        color: white;
        transition: 0.7s;
    }
}

.i2:hover {
    p {
        transition: 0.7s;
        background-color: black;
        padding: 5px 5px;
        border-radius: 25px;
        color: white;
    }
}

.i3:hover {
    p {
        background-color: rgb(237, 64, 93);
        padding: 5px 5px;
        border-radius: 25px;
        color: white;
        transition: 0.7s;
    }
}

.i4:hover {
    p {
        background-color: blue;
        padding: 5px 5px;
        border-radius: 25px;
        color: white;
        transition: 0.7s;
    }
}

@media(max-width: 919px) {
    .navbar {
        width: 100%;
    }

    .con8 {
        height: 1500px;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        div {
            width: 70%;

        }

    }
}

.con9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: clamp(1rem, 4vw, 3rem) 0;
    gap: clamp(1rem, 3vw, 2rem);
}

/* Inner Divs */
.con9 div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Top Section (Price + Button) */
.con9 .a1 p {
    background-color: black;
    color: white;
    padding: clamp(15px, 3vw, 35px) clamp(40px, 8vw, 130px);
    font-size: clamp(18px, 3vw, 30px);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 6px;
}

.con9 .a1 button {
    background: linear-gradient(to right, rgb(188, 33, 58) 50%, rgb(248, 5, 46));
    color: white;
    padding: clamp(15px, 3vw, 33px) clamp(40px, 8vw, 130px);
    font-size: clamp(18px, 3vw, 30px);
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.con9 .a1 button:hover {
    filter: brightness(1.1);
    transform: scale(1.03);
}

/* Bottom Text */
.con9 .a2 p {
    color: grey;
    font-size: clamp(14px, 2vw, 18px);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    word-spacing: 0.5rem;
    margin: 0;
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .con9 .a1 {
        flex-direction: column;
        gap: 1rem;
    }

    .con9 .a2 p {
        word-spacing: normal;
        text-align: center;
    }
}

.con10 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.con10 div {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    min-width: 280px;
}

.con10 .z1,
.con10 .z3 {
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

.con10 .z1 .l1,
.con10 .z3 .l1 {
    font-size: 26px;
    margin-top: -10px;
    color: black;
    transition: color 0.3s ease;
}

.con10 .z1 .l1:hover,
.con10 .z3 .l1:hover {
    color: rgb(217, 66, 91);
}

/* Icons Section */
.con10 .z2 i {
    cursor: pointer;
    font-size: 28px;
    transition: all 0.3s ease;
    color: black;
}

.con10 .z2 a:hover i {
    color: white;
}

.con10 .z2 .fb:hover {
    background-color: darkblue;
    border-radius: 50%;
    padding: 10px;
}

.con10 .z2 .ball:hover {
    background-color: rgb(217, 66, 91);
    border-radius: 50%;
    padding: 10px;
}

.con10 .z2 .insta:hover {
    background-color: red;
    border-radius: 50%;
    padding: 10px;
}

.con10 .z2 .X:hover {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

.con10 .z2 .in:hover {
    background-color: blue;
    border-radius: 50%;
    padding: 10px;
}

/* Responsive Section */
@media(max-width: 875px) {
    .con10 {
        flex-direction: column;
        height: auto;
    }

    .con10 div {
        flex: 1 1 100%;
        margin: 10px 0;
        gap: 10px;
    }

    .con10 .z1 .l1,
    .con10 .z3 .l1 {
        font-size: 22px;
        margin-top: -5px;
    }

    .con10 .z2 i {
        font-size: 24px;
    }
}

.autoShow {
    animation: autoScaleAni both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

@keyframes autoScaleAni {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}